<h2> Number employee: {{ totalEmployees }} </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Id </th>
            <th> Nom </th>
            <th> Age </th>
            <th> Salaire </th>
            <th> Departement </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td> {{ employee.id }} </td>
            <td> {{ employee.nom }} </td>
            <td> {{ employee.age }} </td>
            <td> {{ employee.salaire }} </td>
            <td> {{ employee.deptName }} </td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
                <button  class="btn btn-danger" (click)="deleteEmployee(employee.id)" style="margin-left: 10px">Delete</button>
            </td>
        </tr>
    </tbody>
</table>